@use 'colors';

.hotbar{
    position: absolute;
    bottom: 0;
    // left: 20vw;
    // width: 60vw;
    left: 0;
    width: 100vw;
    height: min(6vw, 100px);
    background-color: #3338;
    color: colors.$font-light;
    display: flex;
    justify-content: center;

    .hotbar-content{
        width: 60vw;
        height: 100%;
        align-content: space-around;
        display: flex;
        justify-content: space-evenly;

        .hotbar-item{
            width: min(4vw, 80px);
            height: min(4vw, 80px);
            border-radius: 1vw;
            background-color: colors.$background;
            color: colors.$font-light;
            line-height: 50px;
            margin: 0.5vw;
            margin-top: 1vw;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover{
                background-color: colors.$hover;
            }

            &.active{
                background-color: colors.$active;
            }

            &.disabled{
                background-color: colors.$disabled;
            }

            &#menu-button{
                background-color: colors.$blueprint-base;
            }

            img{
                width: 2vw;
                height: 2vw;
                margin: 0.5vw;
            }
        }
    }
}